<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>enter in the code</p>
    <p><%= error %></p>
    <form action="/CompleteLogin" method="post">
        <input type="text" name="code">
        <button type="submit" name="button1">Submit</button>
    </form>
    <form action="/SendAgain" method="post">
        <button type="submit" name="button2">send code Again</button>
    </form>
</body>
</html>